<h1>Create new Question</h1>

<form action="/tests/:test_id/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label for="question-body">Body:</label>
    <input type="text" name="question[body]" id="question-body">
  </p><br>
  <p>
    <label for="question-theme">Theme:</label>
    <input type="text" name="question[theme]" id="question-theme">
  </p><br>

  <input type="submit" value="Create">
</form>