<p>
  <strong>Title:</strong>
  <%= @badge.title %>
</p>

<p>
  <strong>Img:</strong>
  <%= @badge.img_url %>
</p>

<p>
  <strong>Rule:</strong>
  <%= @badge.rule %>
</p>

<%= link_to 'Back', admin_badges_path %>