<div class="table-responsive">
  <div class="col col-md-10">
    
    <h1 align="center">All Badges</h1>

    <table class="table table-striped table-hover">
      
      <tbody>
        <%= render @alls %>
      </tbody>
    </table>

    <h1 align="center">Your Badges</h1>

    <table class="table table-striped table-hover">
      
      <tbody>
        <%= render @badges %>
      </tbody>
    </table>

 </div>
</div>