<footer>
  <p>
    <%= current_year %> &copy; Thinknetica
  </p>

  <p>
    Project: <%= github_url('TestGuru', 'danilpanshin', 'TestGuru') %>
  </p>

  <p>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :_blank %>
  </p>
</footer>
