<div class="table-responsive">
  <div class="col col-md-10">

    <h1>Доступные тесты</h1>

    
    <table class="table table-striped table-hover">
      <thead class="thead-inverse">
        <tr align="center">
          <th class="sort-by-title pointer">
            Название
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th>Уровень</th>
          <th>Количество вопросов</th>
        </tr>
      </thead>  
      <tbody>
        <%= render @tests %>
      </tbody>
    </table>
  </div>
</div>  