<div class="table-responsive">
  <div class="col col-md-10">

    <h1><%= I18n.t('tests.index.header') %></h1>

    <table class="table table-striped table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>Title</th>
          <th>Level</th>
          <th>Number of questions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @tests %>
      </tbody>
    </table>

 </div>
</div>